#homeImage{
    -webkit-animation: header-image 
    20s ease-out both; 
    animation: header-image
    20s ease-out 0s 1 normal both running;
    background-image: url( 'https://image.freepik.com/foto-gratis/ninos-jugando-futbol-soccer_1150-3902.jpg' );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: content-box;
}